/* Variables  */
:root {
    --color-fondo-nav: #a4c5bc; 
    --color-texto: #4a5d4e;     
    --color-amarillo: #f2c94c;   
    --color-boton: #c5867a;     
}

.navbar {
    background-color: var(--color-fondo-nav);
    display: flex;
    /* Separa logo, enlaces y usuario */
    justify-content: space-between; 
    align-items: center;
    padding: 10px 40px;
    height: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --- LOGO --- */
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo__img img {
    /* Ajusta según el tamaño de tu logo */
    height: 55px; 
    width: auto;
}

.logo__p {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-texto);
    margin: 0;
}

.logo__p--amarillo {
    color: var(--color-amarillo);
    /* Para que vault baje  */
    display: block; 
    font-size: 22px;
    margin-top: -5px;
}

/* --- ENLACES WEB --- */
.enlaces {
    display: flex;
    gap: 30px;
}

.enlace__texto {
    text-decoration: none;
    color: var(--color-texto);
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
}

.enlace__texto:hover {
    color: white; 
}

/* --- ENLACES USUARIOS  --- */
.usuarios {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* Línea vertical */
.usuarios::before {
    content: "";
    width: 1px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-right: 5px;
}

.login {
    background-color: var(--color-boton);
    padding: 8px 20px;
    border-radius: 8px;
    transition: transform 0.2s, background-color 0.2s;
}

.login:hover {
    background-color: #b0756a;
    transform: scale(1.05);
}

.login__texto {
    text-decoration: none;
    color: white;
    font-weight: bold;
}